.header{
    width: 100%;
    text-align: center;
}

.wrapper{
    width: 1200px;
    margin: 30px auto 40px;
}

.main{
    display: block;
    float: right;
    width: auto;
    text-align: center;
    padding: 3px;
    background-image: url("../site_images/cross_lightOrange.gif");
}

.side{
    float: left;
    width: 350px;
    overflow-wrap: normal;
    text-align: center;
    background-image: url("../site_images/yellow_background.jpg");
}

body{
    background-image: url("../site_images/blue_background.jpg");
    font-size:1.2rem;
}

#top{
    position: relative;
    top: 10px;
    left: 1100px;
    bottom: 10px;
    border-radius: 8px;
    background-color: lightyellow;
}

#result{
    text-align: center;
    border-color: grey;
    background: lightyellow;
    overflow-wrap: normal;
}

#result th{
    background: lightblue;
    color: white;
}