#top{
    position: relative;
    top: 10px;
    left: 1000px;
    bottom: 10px;
    border-radius: 8px;
    background-color: lightyellow;
}

body{
    background-image: url("../site_images/blue_background.jpg");
    font: 1em sans-serif;
}